html {
  background-image: linear-gradient(to right, rgba(158, 216, 244, 0.2), rgba(158, 216, 244, 1));
}

.card {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin-top: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-size: 22px;
}

#photo, #signature {
  max-width: 90%;
  max-height: 90%;
}

i {
  height: 20px;
  width: 20px;
  margin: 10px 20px;
  color: #333;
}
